{% load static %}
{% load cloudinary %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- ===== BOX ICONS ===== -->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <title> Anthony Udeagbala </title>
</head>
<body>
    <header class="l-header">
        <nav class="nav bd-grid">
            <div>
                <a href="" class="nav__logo">Izudada</a>
            </div>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="#home" class="nav__link active">Home</a></li>
                    <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                    <li class="nav__item"><a href="#skills" class="nav__link">Skills</a></li>
                    <li class="nav__item"><a href="#portfolio" class="nav__link">Portfolio</a></li>
                    <li class="nav__item"><a href="https://res.cloudinary.com/dro7pyxba/image/upload/v1642063192/my_portfolio/Anthony_Udegbala_xxuv3q.pdf" class="nav__link" download="Udeagbala_Anthony_Resume" target="_blank"> Resume</a></li>
                    <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
                    <li class="nav__item"><a href="https://izudada.hashnode.dev/" class="nav__link" target="_blank">Blog</a></li>
                </ul>
            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class="bx bx-menu"></i>
            </div>
        </nav>
    </header>

    <main>
        <!--===== HOME =====-->
        <section class="home" id="home">
            <div class="home__container bd-grid">
                <h1 class="home__title"><span>HE</span><br>LLO.</h1>

                <div class="home__scroll">
                    <a href="#about" class="home__scroll-link"><i class='bx bx-up-arrow-alt' ></i>Scroll down</a>
                </div>
                
                <img src="https://res.cloudinary.com/dro7pyxba/image/upload/v1629344393/my_portfolio/home_image1_as0h8i.png" alt="home image" class="home__img">
                
            </div>
        </section>

        <!--===== ABOUT =====-->
        <section class="about section" id="about">
            <h2 class="section-title">About</h2>

            <div class="about__container bd-grid">
                <div class="about__img">
                    <img src="https://res.cloudinary.com/dro7pyxba/image/upload/v1629344393/my_portfolio/home_image1_as0h8i.png" class="about__img" alt="">
                </div>

                <div class="div__about">
                    <h2 class="about__subtitle">I am Anthony Udeagbala</h2>
                    <span class="about__profession">Web Developer</span>
                    <p class="about__text">
                        A prodigal Backend developer, who has failed a lot trying to learn how to code. I have built successful web products after my success learning python for the second time. <br> <br>

                        I have experience in building web products using HTML, CSS, Flask and Django frameworks. <br> <br>

                        Do you have an idea for your business challenges? I am open to listen to them and help you build your ideas to life.  <br> <br>

                        You are welcomed to <a href="#contact"> <b> <i> connect </i> </b></a> or send a message.
                    </p>

                    <div class="about__social">
                        <a href="https://www.linkedin.com/in/izudada" class="about__social-icon" target="_blank"><i class='bx bxl-linkedin'></i></a>
                        <a href="https://github.com/izudada" class="about__social-icon" target="_blank"><i class='bx bxl-github' ></i></a>
                        <a href="https://twitter.com/_izudada" class="about__social-icon" target="_blank"><i class='bx bxl-twitter' ></i></a>
                        <a href="https://izudada.hashnode.dev/" class="about__social-icon" target="_blank"><i class='bx bxl-blogger' ></i></a>
                    </div>
                </div>
            </div>
        </section>

        <!--===== SKILLS =====-->
        <section class="skills section" id="skills">
            <h2 class="section-title">Skills</h2>

            <div class="skills__container bd-grid">
                <div class="skills__box">
                    <h3 class="skills__subtitle">Development</h3>
                    <span class="skills__name">Html</span>
                    <span class="skills__name">Css</span>
                    <!-- <span class="skills__name">Javascript</span> -->
                    <span class="skills__name">Python</span>
                    <span class="skills__name">SQL</span>
                    <span class="skills__name">SQLAlchemy</span>
                    <span class="skills__name">Bootstrap</span>
                    <span class="skills__name">Flask</span>
                    <span class="skills__name">Django</span>
                    <span class="skills__name">CI/CD</span>
                    
                    <h3 class="skills__subtitle">Design</h3>
                    <span class="skills__name">Corel Draw</span>
                    <span class="skills__name">Photoshop</span>

                    <h3 class="skills__subtitle">Cloud</h3>
                    <span class="skills__name">AWS S3</span>
                    <span class="skills__name">Cloudinary</span>

                    <h3 class="skills__subtitle">Version Control</h3>
                    <span class="skills__name">Git</span>
                </div>

                <div class="skills__img">
                    <img src="https://res.cloudinary.com/dro7pyxba/image/upload/v1629344389/my_portfolio/skill_obanur.jpg" alt="">
                </div>
            </div>
        </section>

        <!--===== PORTFOLIO =====-->
        <section class="portfolio section" id="portfolio">
            <h2 class="section-title">Portfolio</h2>

            <div class="portfolio__container bd-grid">
                <div class="portfolio__img">
                    <img src="https://res.cloudinary.com/dro7pyxba/image/upload/v1629344388/my_portfolio/work1_xeavwf.jpg" alt="">
                    <h3>Myshop45</h3>
                    <p>A point of sales apllication that helps shop owners monitor and ensure smooth running of their business from anywhere, while keeping it secure and efficient.</p>

                    <div class="about__social">
                        <a href="https://myshop45.com/" class="about__social-icon" target="_blank"><i class='bx bx-world' ></i></a>
                    </div>
                </div>
                <div class="portfolio__img">
                    <img src="https://res.cloudinary.com/dro7pyxba/image/upload/v1629344390/my_portfolio/work2_qm6vha.jpg" alt="">

                    <h3>Mind 2 Paper</h3>
                    <p>A note app for putting down your thoughts in a safe, reliable and friendly space. Care to share your thoughts with your future self? </p>

                    <div class="about__social">
                        <a href="https://github.com/izudada/note_app" class="about__social-icon" target="_blank"><i class='bx bxl-github' ></i></a>
                        <a href="https://izudada-note-app.herokuapp.com/" class="about__social-icon" target="_blank"><i class='bx bx-world' ></i></a>
                    </div>
                </div>
                <div class="portfolio__img">
                    <img src="https://res.cloudinary.com/dro7pyxba/image/upload/v1629344391/my_portfolio/work3_ikpavn.jpg" alt="">

                    <h3>Blog</h3>
                    <p>A capstone project for matrix intersnhip</p>

                    <div class="about__social">
                        <a href="https://github.com/izudada/matrix_blog" class="about__social-icon" target="_blank"><i class='bx bxl-github' ></i></a>
                        <a href="https://matrix-blog.herokuapp.com/" class="about__social-icon" target="_blank"><i class='bx bx-world' ></i></a>
                    </div>
                </div>

                <div class="portfolio__img">
                    <img src="https://res.cloudinary.com/dro7pyxba/image/upload/v1629344390/my_portfolio/work4_vvxjpl.jpg" alt="">

                    <h3>Matrix Blog</h3>
                    <p>A project task for zuri intersnhip</p>

                    <div class="about__social">
                        <a href="https://github.com/izudada/zuri_blog" class="about__social-icon" target="_blank"><i class='bx bxl-github' ></i></a>
                        <a href="http://izudada-blog.herokuapp.com/" class="about__social-icon" target="_blank"><i class='bx bx-world' ></i></a>
                    </div>
                </div>
            </div>
        </section>


        <!--===== CONTACT =====-->
        <section class="contact section" id="contact">

            <h2 class="section-title">Contact</h2>
            <div class="div__success">
                {% for info in messages %}
                    <p class="success__message">{{ info }}</p>
                {% endfor %}
            </div>
            
            <div class="contact__container bd-grid">
                
                <div class="contact__info">
                    <div>
                        <a class="contact__subtitle" href="mailto:tonyudeagbala@gmail.com" target="_blank"><i class='bx bx-mail-send contact__subtitle' ></i></a>
                    </div>
                    <span class="contact__text"> tonyudeagbala@gmail.com </span>

                    <div>
                        <a class="contact__subtitle" href="https://api.whatsapp.com/send?phone=8160754862"><i class='bx bxl-whatsapp contact__subtitle' target="_blank" ></i></a>
                    </div>
                    <span class="contact__text"> +2348160754862 </span>

                    <div>
                        <i class='bx bx-current-location contact__subtitle' target="_blank" ></i>
                    </div>
                    <span class="contact__text">Nigeria</span>
                </div>
                
                <form action="" class="contact__form" method="post">
                    {% csrf_token %}
                    <div class="contact__inputs">
                        {{ form.name }}
                        {{ form.email }}
                    </div>
                    {{ form.subject }}
                    {{ form.body }}

                    <input type="submit" value="Send" class="contact__button">
                </form>
            </div>
        </section>

    </main>

    <!--===== FOOTER =====-->
    <footer class="footer section">
        <div class="footer__container bd-grid">
            <div class="footer__data">
                <h2 class="footer__title">Anthony Udeagbala</h2>
                <p class="footer__text"> I am a prodigal python developer, who has failed a lot trying to learn how to code.</p>
            </div>

            <div class="footer__data">
                <h2 class="footer__title">EXPLORE</h2>
                <ul>
                    <li><a href="#home" class="footer__link">Home</a></li>
                    <li><a href="#about" class="footer__link">About</a></li>
                    <li><a href="#skills" class="footer__link">Skills</a></li>
                    <li><a href="#portfolio" class="footer__link">Portfolio</a></li>
                    <li><a href="#Contact" class="footer__link">Contact</a></li>
                </ul>
            </div>
            
            <div class="footer__data">
                <h2 class="footer__title">FOLLOW</h2>

                    <a href="https://www.linkedin.com/in/izudada" class="footer__social" target="_blank"><i class='bx bxl-linkedin'></i></a>
                    <a href="https://github.com/izudada" class="footer__social" target="_blank"><i class='bx bxl-github' ></i></a>
                    <a href="https://twitter.com/_izudada" class="footer__social" target="_blank"><i class='bx bxl-twitter' ></i></a>
                    <a href="https://izudada.hashnode.dev/" class="footer__social" target="_blank"><i class='bx bxl-blogger' ></i></a>

                    <a href="https://zuri.team/">
                        <img src="https://res.cloudinary.com/dro7pyxba/image/upload/v1629348471/my_portfolio/internships/download_pywcbg.png" alt="Zuri Logo">
                    </a>
            
            </div>

            <p class="copyright">
                Copyright &copy; 2021 </a>
            </p>
        </div>

    </footer>


    <!--===== SCROLL REVEAL =====-->
    <script src="https://unpkg.com/scrollreveal"></script>

    <script src="{% static 'js/main.js' %}">  </script>
</body>
</html>